body{
    background: rgba(0, 0, 0, 0.5);
}

.tm-navbar-bg{
    margin-top: -20px;
    height: auto;
}

.companyName{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 5px;
}

.priceTotal{
    text-align: center;
    margin-top: 20px;
}

.price{
    color: rgba(255,255,255,0.7);
}

.card-header{
    text-align: center;
}

.card-footer{
    text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: #ffffff; 
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  margin: 5em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
}


/*  */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

#nextBtn{
    float: right;
    height: auto;
    width: 80px;
    padding: 10px;
    font-size: medium;
}

#nextBtnDiv{
    padding-top: 750px;
    padding-right: 50px;
}


/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #6441a5,
    #2a0845
  ); /* Chrome 10-25, Safari 5.1-6 */
}

body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 0px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: white;
}

/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

@media only screen and (min-width: 1170px) {
  #bottle .grid-item {
    width: 25%;
  }
  .img-hover-zoom {
    height: auto;
  }
  #water .grid-item {
    width: 25%;
  }
}

.box {
  position: relative;
  /* top: 20px;
left: 0;
width: 100%; */
  height: 10rem;
  overflow: hidden;
}

.box .face1,
.box .face2 {
  /* position: absolute; */
  bottom: 0;
  right: 100%;
  height: 100%;
  /* display: inline; */
}

.box .face1 {
  background: url("full.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
}

.box .face2 {
  background: url("empty.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
}
.seperator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: #6441a5;
}

#container {
  width: 100px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
#container .beer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fac92c;
  bottom: 0;
  height: 0;
  transition: 1500ms ease-in;
}
#container .beer.fill {
  height: 0%;
}
#container .beer:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ea9602;
  right: 0;
}
#container .glass {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 10px #e8e4d9;
  border-top: solid 5px #e8e4d9;
  border-bottom: solid 30px #e8e4d9;
  border-radius: 5px;
  transform: perspective(500px) rotateX(-30deg);
}
#container .glass:before,
#container .glass:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #fff;
  width: 10px;
}
#container .glass:before {
  height: 20%;
  left: 10px;
  top: 5%;
  z-index: 1;
}
#container .glass:after {
  height: 70%;
  right: 10px;
  top: 5%;
}
#container .head {
  position: absolute;
  width: 60%;
  height: 60px;
  background: #fff;
  bottom: -5px;
  left: 5px;
  border-radius: 50%;
  z-index: -1;
  transition: 1600ms ease-in;
}
#container .head.active {
  bottom: 0%;
}
#container .head:before,
#container .head:after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
#container .head:before {
  width: 30px;
  height: 30px;
  left: 50px;
  top: 15px;
}
#container .head:after {
  width: 40px;
  height: 40px;
  left: 67px;
  top: 9px;
}

.text-muted {
  font-size: 12px;
  font-weight: 900;
}

.fa {
  float: right;
}

.grid-item:hover{
  
  background-color: black;
}


@media (min-width: 768px){
.col-md-offset-3 {
    margin-left: 10%;
}
}

@media (min-width: 768px){
.col-md-6 {
    width: 80%;
}
}